## Ch02. Variable
- string (문자열)
- float (소수)
- integer (정수)
- boolean (참과 거짓)

In [31]:
# 여러 이름 동시에 할당
two = deux = dos = 2 # dos -> deux -> two (역순으로 값이 할당됨.)
two

2

In [32]:
# 하나의 변수에 다른 값을 할당해도 불변객체이므로 나머지 값은 바뀌지 않는다.
two = 4
print(two, deux)
# two != deux

4 2

In [33]:
id(two), id(deux)
#id(변수가 저장된 메모리 주소를 찾는 함수)
# id의 값이 달라짐

(2032790825360, 2032790825296)

In [15]:
#리스트는 가변 객체
p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [16]:
id(p), id(q)

(2032870913216, 2032870913216)

In [18]:
p[0] = 9
p, q
# q의 값이 자동으로 바뀜

([9, 2, 3], [9, 2, 3])

In [19]:
id(p), id(q)
# id의 값도 동일

(2032870913216, 2032870913216)

### ID 함수에 관하여
- 변수에는 공간이 위치하는 곳인 주소가 있다. 그것을 id함수로 찾는다. 즉, id()는 변수가 저장된 메모리 주소를 찾는 함수 
- 주소는 때에 따라, 컴퓨터에 따라 다 달라짐. 불변 객체가 변할 때, 메모리 주소가 바뀌는 것만 알고 있으면 됨.

### 좋은 변수명
- 간결하고 명확한 이름
- 의미가 담겨야 함.
a,b,c, ... <- 지양해야함.
- 코드에는 의미가 담기고 주석에는 의도가 담긴다.
    - 예: the number of students
    n < the_nuber_of_students(너무 긺, 오타가 생길 가능성이 큼) < num_students
    - 카멜표기법: numStudents(낙타 등 모양과 비슷)

### 자료형 변환, 형 변환
- 정수 -> 실수, 실수 -> 정수
- str(<변환할 값>), int(), float(),bool()

In [12]:
a = 10
#str
str(a)

#float
float(a)

#bool
bool(a) # 어떤 값이 False로 변환이 되는지 기억

True

- 주의할 점1: float -> int

In [25]:
x = 10.7 # 소수점 내림
int(x)

10

In [28]:
y = 19.8

print(int(x + y)) # 10.7 + 19.8 을 int로 변환
print(int(x) + int(y)) # 10 + 19
#결과 값이 달라진다.

30
29

- 주의할 점2:str -> int/float

In [15]:
i = '10'
int(i), float(i)

(10, 10.0)

In [16]:
j = '10.7'
int(j)
#int와 맞지않는 것을 바꾸려 하면 에러가 난다.

ValueError: invalid literal for int() with base 10: '10.7'

### 꿀팁: print()

In [35]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) # space X, \n
print(dog, cat, lion) # space O, \n

dogcatlion
dog cat lion

In [41]:
print(dog, cat, lion, sep=' ', end='\n') #default
#sep의 디폴트는 띄어쓰기, end의 디폴트는 개행
print(dog, cat, lion, sep='/', end='\n\n')
print('EOL')

dog cat lion
dog/cat/lion

EOL

In [43]:
#1
print("My favorite animal is ", dog)
#2
print(f"My favorite animal is {dog}.")

My favorite animal is  dog
My favorite animal is dog.

코드 줄이 짧을 때 ;(semicolon)을 이용해 한 줄로 쓸 수 있다.

In [24]:
dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog)

dog

## input() 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 문자열로 인식이 된다.
- 숫자일 경우 형 변환을 해야 한다.

In [32]:
input("Hello?")

Hello? Hi

' Hi'

In [31]:
int(input('나이가 어떻게 되나요?'))

나이가 어떻게 되나요? 55

55

- 변수에 할당하는 방법

In [39]:
#1.
age = int(input('나이가 어떻게 되나요?'))
# 숫자로 형 변환

나이가 어떻게 되나요?15

In [40]:
age

15

In [44]:
#2.
print("나이가?")
age=input()
# 숫자로 형 변환하지 않음

나이가?
88

In [43]:
age

'88'

## Quiz 1
- 섭씨를 입력 받아서 화씨로 변환하기
- '섭씨 * 1.8 + 32 = 화씨'

In [45]:
celsius = float(input("섭씨를 입력하세요. "))
fahrenheit = celsius * 1.8 + 32
print(f'화씨 = {fahrenheit}')

섭씨를 입력하세요. 100
화씨 = 212.0

### Quiz 2
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값:
    - '==택배 정보=='
    - 수취인 성명: <이름>
    - 수취인 주소: <주소>
    - 배송비: 3000원
    - 물건 비용: <가격>원
    - 총 합계: < 가격>원
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용

입력값: 이름, 주소, 무게

In [53]:
name = input("이름을 입력하세요: ")
address = input("주소를 입력하세요: ")
weight = float(input("무게를 입력하세요: "))


delivery_cost = 3000
item_cost = weight * 5
item_cost = int(item_cost)
total_cost = delivery_cost + item_cost


print(f'수취인 성명: <{name}>')
print(f'수취인 주소: <{address}>')
print(f'물건 비용은 {item_cost}원 입니다.')
print(f'총 합계는 {total_cost}원 입니다.')

이름을 입력하세요: 유예담
주소를 입력하세요: 서울시
무게를 입력하세요: 200
수취인 성명: <유예담>
수취인 주소: <서울시>
물건 비용은 1000원 입니다.
총 합계는 4000원 입니다.

## Ch03. Numbers

### boolean

- 형 변환할 때 True, False인지 기억하라
    - ", Nonem 0, ...
- 조건식에서 많이 쓴다. 예: 만약 이 조건이 Ture라면, ...

In [55]:
bool(1)

True

In [56]:
bool('')

False

#### integer

- 소수점 없음
- default 양수, 음수는 앞에 -를 붙인다.
숫자 앞에는 0을 붙일 수 없다. 예: 05
    - 예외적으로 0bxxx. => 다른 진수 표현
- 리터럴:4
- 공백이 많아도 무시가 된다.
- 10.000원 -> 10,000원 두개로 인식 => '_' 사용
    - 예: 10_000

In [58]:
a = -9
8 + a

-1

In [59]:
a = 09

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_4288/2890110653.py, line 1)

In [60]:
-9 + 8

-1

In [61]:
a = 10_000
print(a)

10000

### 연산
- 연산자operatior: +, -, 
- 피연산자operatior: 4, 5, ...
- 수식(expression)

In [48]:
x=4
y=9

x + y
x - y
x * y
x / 4

#거듭제곡(exponential)
x ** y

262144

나눗셈이서 주의할 사항

In [49]:
#1. division by zero => 주의(y!=0)
#2. 몫, 나머지
x //y, x % y, x / y

(0, 4, 0.4444444444444444)

In [50]:
divmod(x, y)
# x = 몫, y = 나머지

(0, 4)

#### 복합 대입연산자(compound assignment operatior)

In [65]:
a = 5
a - 3
print(a)

5

In [66]:
a = a - 3
#1. a-3 계산
#2. 임시변수 temp = a - 3
#. a = a - 3

a -= 3

In [67]:
a += 3
a -= 3
a *= 3
a /= 3

In [69]:
u = ? #값 초기화할 것, 그렇지 않으면 에러
u = u + 1

SyntaxError: invalid syntax (Temp/ipykernel_4288/693332124.py, line 1)

### Quiz 1.
- 정수를 입력 받고 3의 배수인지 확인하세요.
- 정수를 입력 받고 훌수인지 확인하세요.

In [51]:
# if문 사용 코드
num = int(input())

if num % 3 == 0:
    print(True)
else:
    print(False)
    
if num % 2 == 1:
    print(True)
else:
    print(False)

7
False
True

In [80]:
# if 문 안쓰는 코드

num = int(input())

num % 3 == 0

7

False

In [81]:
num = int(input())

num % 2 == 1

7

True

### 지수 표현

- e, E 둘다 가능하다
- 앞부분은 float, int
- 뒷부분은 int만 온다.
    - 양수면 0 앞으로
    - 음수면 0 뒤로(소수점)

In [52]:
1.0e6 # float

1000000.0

In [53]:
# 0.000789 => 지수표현
7.89e-4

0.000789

### 조건문, if
- code structure

### 코드 짜는 틀
- 주석 다는 법
    - 설명하는 부분
    - 목적: 의도를 표현한다, 
    - '#' hash, sharp, ... 
    - 시작된 부분부터 그 라인에 끝까지가 주석
    - 문자열 안에 들어있는 해시는 문자열로 인식
    - """<주석>"""
    
- 라인 유지하기
    - 들여쓰기, 공백 4개, 탭 1개
    - 한 줄에 최대 80자 넘지 않게
    - 백슬래시로 끊어준다(\\)

In [87]:
a = 3 # 여기부터 라인 끝
b = 2

In [88]:
example = 'hey ###'
example

'hey ###'

In [90]:
example = 'hey ###'
print(example)

"""
주석1
주석2
주석3
"""
# 코드에 영향 미치지 않음

hey ###

'\n주석1\n주석2\n주석3\n'

In [91]:
if <조건식>:
    ###
#공백 4개

SyntaxError: invalid syntax (Temp/ipykernel_4288/2001434079.py, line 1)

- 조건 1개
if <조건식>: <실행코드>

In [92]:
if 4 != 9:
    print('Yaay!')

Yaay!

- 조건 2개:
    if <조건식1>:
            <실행할 코드>
    else:
        <실행할 코드2>

In [94]:
if 4 == 9:
    print('Yaay!')
else:
    print('Hey!')

Hey!

- 조건 3개 이상:
     if <조건식1>:
            <실행할 코드>
    elif <조건식2>:
            <실행할 코드3>
            
    ....
    else:
        <실행할 코드2>

#### 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y (값과 메모리 주소 모두 같아야 한다.)
- x is not y

### Quiz 1.
- 학점 부여하기
- 학점을 입력 받아서
    - 90점 이상이면 A:
    - 80, B
    - 70, C
    - 그외, D


- 변수 설정 유의

In [56]:
score = int(input("점수를 입력하세요: "))

if score >= 90: 
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'
    
print(f'점수는 {score}점, 학점은 {grade}학점 입니다.')

점수를 입력하세요: 100
점수는 100점, 학점은 A학점 입니다.

### Quiz 2.

- 아이디와 비번 입력 받아서 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸 반환하기

In [111]:
write_id = input("아이디를 입력하세요: ")
write_pw = input("비밀번호를 입력하세요: ")

security_id = 'youyedam'
security_pw = '1234'

if write_id == security_id:
    if write_pw == security_pw:
        print('로그인 성공!')
    else: 
        print('비밀번호가 일치하지 않습니다.')
else:
    print('아이디가 존재하지 않습니다.')

아이디를 입력하세요: youyedam
비밀번호를 입력하세요: 1234
로그인 성공!

#### 논리연산자
- 여러 조건식을 비교할 때
- 예: 10 < x < 20
    -  파이썬에서만 가능한 표현
    - x > 10 혹은 x < 20

- and, & : 둘 다 참일 때
- or, | : 둘 중 하나만 참이어도 True
- not : 참 -> False, 거짓 -> True

### Quiz 3.
- quiz 1 확장판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로

In [55]:
score = int(input("점수를 입력하세요: "))
absence = int(input("결석 횟수를 입력하세요: "))

if score >= 90: 
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

if score >= 80 and absence >= 2 :
    grade = 'F'
    
print(f'점수는 {score}점, 학점은 {grade}학점 입니다.')

점수를 입력하세요: 100
결석 횟수를 입력하세요: 2
점수는 100점, 학점은 F학점 입니다.