## Dictionary
- 영어 사전
    - 단어: 뜻
    - 키: 값
    - ':'으로 짝 지어져 있는 형태의 자료구조
    - 순서가 없다. => 인덱싱이 불가능
    - "키로 값을 찾는다."
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가 가능
    - 타입: dict
    - 형변환: dict()
    - 중괄화 사용 {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음 (중요)
        - a: 1, a: [1, 2, 3, 4]

In [1]:
# 빈 딕셔너리 선언
empty = dict()
empty = {}

# set {}
empty = {} #dict type
empty = set() #set type
type(empty)

set

In [7]:
a = {1, 2, 3} # set
a = {1: 'apple', 2: 'banana', 3: 'kiwi'} # dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [2]:
b = {'': '', '': '', '': ''}
# 이 경우 키 값은 '' 안해도 됨
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

### 출석부로 딕셔너리 만들기
이름, 학번, 학과
james 2022201 경제학과
laura 202203 스페인어과
louis 202202 컴공과

In [4]:
attendance = {202201: ['james', '경제학과'], 202202: ['louis', '컴공과'], 202203: ['laura', '스페인어과']}
print(attendance)

{202201: ['james', '경제학과'], 202202: ['louis', '컴공과'], 202203: ['laura', '스페인어과']}

## 형 변환
- key, value 값이 쌍으로 있을 때 가능

In [5]:
# [] 안에 []가 쌍으로 존재할 때
# 튜플이어도 가능

ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [13]:
ex2 = [(1, 2), (2, 3), (3, 4)]
dict(ex2)

{1: 2, 2: 3, 3: 4}

In [6]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)
# 두 자리 까지 가능,세 자리가 되는 순간 오류

{'a': 'b', 'b': 'c', 'c': 'd'}

In [7]:
# 만약 키가 똑같다면, 마지막 것을 기준

ex4 = [[1, 2], [2, 3], [1, 3]]
dict(ex4)

{1: 3, 2: 3}

In [8]:
pythons = {
    'Champan': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [10]:
# 조회(key로 value를 찾음)
# 없는 값이면 예외 발생

pythons['Idle']

'Eric'

In [11]:
pythons['Hwa'] = 'Chloe' # 추가

In [12]:
pythons['Idle'] = 'James' # 변경
pythons

{'Champan': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [30]:
# 예외 없이 하는 방법

# 1. 값이 있는 지 없는 지 확인
'Hwa' in pythons 

# 2. get()
pythons.get('Lee', 0) # 있으면 key 반환, 없는 키는 None 반환, 원하는 반환 값 설정 가능

True

### 전체 조회
- keys()
- values()
- items()

In [32]:
pythons.keys()

dict_keys(['Champan', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [33]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [34]:
pythons.items() # (키, 값) 튜플 형태로 => 순회 할 때 많이 사용

dict_items([('Champan', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [36]:
list(pythons.keys()) # 리스트로 사용하고 싶을 경우 리스트로 형 변환 해야 함

['Champan', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [37]:
for k, v in pythons.items():
    print(f'{k} = {v}')

Champan = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [38]:
[(k, v) for k, v in pythons.items()]

[('Champan', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [42]:
[k[0] for k in pythons.items()] #0=key, 1=value

['Champan', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [43]:
[k for k in pythons] # keys

['Champan', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

### ex
animal: num_leg 딕셔너리 만드시오.

In [15]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [16]:
# 방법1
print(dict([(key, value) for key, value in zip(animal, legs)]))

# 방법2
num_leg = {}
for k, v in zip(animal, legs):
    num_leg[k] = v 
print(num_leg)

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}
{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

#### Q. pythons에서 성:이름, 성 첫 글자만, 이름은 글자 개수로 이뤄진 튜플 (성, 이름) 리스트로 반환하기
     dict comprehension 쓰지 말기
     
[(). ()] => items()

In [63]:
# 방법1
[(k[0], len(v)) for k, v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [13]:
# 방법2
[(k[0][0], len(k[1]))for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

### 값 수정, 삭제, 복제, 비교

In [65]:
pythons

{'Champan': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [66]:
others = {
    'Marx': 'Groucho',
    'Hpward': 'Moe'
}

others

{'Marx': 'Groucho', 'Hpward': 'Moe'}

In [69]:
pythons.update(others) # 리스트의 append

In [71]:
pythons # 마지막에 업데이트

{'Champan': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Hpward': 'Moe'}

In [74]:
# py3 에서만 가능
{**others, **pythons} # 앞 부분에 업데이트

{'Marx': 'Groucho',
 'Hpward': 'Moe',
 'Champan': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [75]:
# 삭제
del pythons['Hwa']

In [76]:
pythons

{'Champan': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Hpward': 'Moe'}

In [77]:
del pythons['Lee'] # 없는 것 삭제는 예외 발생

KeyError: 'Lee'

In [84]:
pythons.pop('Marx') # 있으면 그 값 뽑아냄

KeyError: 'Marx'

In [81]:
pythons.pop('Lee', 0) # 없으면 예외는 나지만, 예외시 출력 값을 지정할 수 있다.

0

In [82]:
# 전체 삭제
pythons.clear()
pythons = {}

In [83]:
pythons

{}

### 복제
- 할당: b = a
- 얕은 복사: c = a.copy()
- 깊은 복사: deepcopy

In [20]:
# 할당
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

# 할당의 문제: b도 값이 변함. (가변객체이기 때문)

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [21]:
# 얕은 복사
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [22]:
a = {1: [1, 2, 3], 2: [2, 3, 4]}
d = a.copy()
a[1][0] = 100
a, d
# 가변객체에 대해서 또 참조가 되는 문제

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [24]:
# 깊은 복사
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e
# 변하지 않음.

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 999, 3], 2: [2, 3, 4]})

### 비교
 - 같다, 다르다만 된다.

In [25]:
a != b

True

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성=pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    del dict1['태양'] (x)
4. sorted 이용해서 값 정렬하기 i) key, ii) value 기준

In [31]:
solar_kr = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'Sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [36]:
# for문 사용

# 1.
solar_dict = {}
for k, v in zip(solar_kr, solar_eng):
     solar_dict[k] = v

# 2.
# 넣을 것이 하나일 때는 update를 가져갈 필요가 없음.
# solar_dict.update({'명왕성':'pluto'})
solar_dict['명왕성'] = 'pluto'

# 3.
for key in list(solar_dict):
    if not key.endswith('성'):
        del solar_dict[key]

# 4.
# key 기준
print(sorted(solar_dict.keys()))
# value 기준
print(sorted(solar_dict.values()))

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']
['jupiter', 'mars', 'mercury', 'neptune', 'pluto', 'saturn', 'uranus', 'venus']

In [37]:
# 리스트 컴프리헨션 사용

# 1.
solar_dict = {}
for k, v in zip(solar_kr, solar_eng):
     solar_dict[k] = v

# 2.
solar_dict['명왕성'] = 'pluto'

# 3.
solar_dict = dict([(key, value) 
                   for key, value in solar_dict.items() 
                   if key.endswith('성')])

# 4.
# key 기준
print(sorted(solar_dict.keys()))
# value 기준
print(sorted(solar_dict.values()))

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']
['jupiter', 'mars', 'mercury', 'neptune', 'pluto', 'saturn', 'uranus', 'venus']

## 딕셔너리 컴프리헨션

In [38]:
letter = 'apple'
#a: 1, p: 2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [39]:
# 단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
# vowels 순회

In [40]:
# word 순회
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [41]:
# vowels 순회
{w: word.count(w) for w in set(word) if w in vowels}

{'i': 1, 'e': 1, 'a': 2, 'o': 4}

### sorting

In [42]:
# 그냥 sorted를 하면 key만 가져감

sorted(solar_dict)

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']

In [44]:
def fx(x):
    # 0은 key 기준, 1은 value 기준
    return x[0] 


# 첫 번째는 한글기준, 두 번째는 영어 기준으로 정렬하고 싶을 때?
# 나만의 함수를 정의해서 key에 넣음
sorted(solar_dict.items(), key=fx)

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [43]:
# 익명함수 lamda
sorted(solar_dict.items(), key=lambda x: x[0])

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

## Set
- "중복이 없다"
- 수학의 집합 => 교집합, 합집합, 차집합, ...
- bag, 인덱싱도 없다.

In [45]:
empty = set()
empty

set()

In [46]:
a = {1, 2, 3}
a

{1, 2, 3}

In [51]:
# 시퀀스이기 때문에 튜플이나 리스트로 묶어주고 넣어야 함.
a = set((1, 2, 3)) # 선언, 형 변환
a

{1, 2, 3}

In [52]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [53]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [54]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

# vodka가 포함된 술 출력하기
# vodka는 있지만 cream, vermouth 없는 술 출력하기

In [233]:
# vodka가 포함된 술 출력하기
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)

martini
black russian
white russian
screwdriver

In [55]:
# vodka는 있지만 cream, vermouth 없는 술 출력하기
for k, v in drinks.items():
    # if 'vodka' in v and 'cream' not in v and 'vermouth' not in v:
    if 'vodka' in v and not('cream' in v or 'vermouth' in v):
        print(k)

black russian
screwdriver

In [59]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 | intersection
print(a.intersection(b))
print(a & b)

# 합집합 | union
print(a.union(b))
print(a | b)

# 차집합 | difference
print(a.difference(b))
print(b.difference(a))
print(a - b, b- a)

{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{4}
{1} {4}

In [61]:
# set을 활용해서 바꾸기
# 1번 방법
for k, v in drinks.items():
    if ('vodka' in v) and not('cream' in v or 'vermouth' in v):
        print(k)
        
# 2번 방법
for k, v in drinks.items():
    if {'vodka'} & v and not  {'cream', 'vermouth'} & v:
        print(k)

black russian
screwdriver
black russian
screwdriver

In [62]:
{s for s in range(5)} # 셋 컴프리헨션

{0, 1, 2, 3, 4}

In [63]:
# frozenset => 가변객체를 불변객체로 바꿈
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

### Project
- 태스크를 해결
- 수업 30분 동안 랜덤으로 코드 설명을 시킬 것 => 이해못하거나 성의 없거나 하면 점수X
- 제출: 수요일 자정

In [254]:
!pip install pylint
!pylint example.py

!pip install pydocstyle
!pydocstyle example.py

Requirement already satisfied: pylint in c:\users\jiin\anaconda3\lib\site-packages (2.9.6)
Requirement already satisfied: colorama in c:\users\jiin\anaconda3\lib\site-packages (from pylint) (0.4.4)
Requirement already satisfied: toml>=0.7.1 in c:\users\jiin\anaconda3\lib\site-packages (from pylint) (0.10.2)
Requirement already satisfied: isort<6,>=4.2.5 in c:\users\jiin\anaconda3\lib\site-packages (from pylint) (5.9.3)
Requirement already satisfied: astroid<2.7,>=2.6.5 in c:\users\jiin\anaconda3\lib\site-packages (from pylint) (2.6.6)
Requirement already satisfied: mccabe<0.7,>=0.6 in c:\users\jiin\anaconda3\lib\site-packages (from pylint) (0.6.1)
Requirement already satisfied: wrapt<1.13,>=1.11 in c:\users\jiin\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.12.1)
Requirement already satisfied: lazy-object-proxy>=1.4.0 in c:\users\jiin\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.6.0)
Requirement already satisfied: setuptools>=20.0 in c:\users\jiin\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (58.0.4)
************* Module example.py
example.py:1:0: F0001: No module named example.py (fatal)
Requirement already satisfied: pydocstyle in c:\users\jiin\anaconda3\lib\site-packages (6.1.1)
Requirement already satisfied: snowballstemmer in c:\users\jiin\anaconda3\lib\site-packages (from pydocstyle) (2.1.0)

WARNING: Error in file example.py: [Errno 2] No such file or directory: 'example.py'